body {
  background-image: url("../images/fruits.jpg");
  text-align: center;
}

#formcontainer{
  border: .2em solid black;	
  border-radius: 30px;
}

h1 {
  margin-top: 1%;
  font-weight: bold;
  font-size: 2em;
  font-family: "Monaco", monospace;
}

label { 
  display: block;
  text-align: center;
  width: 97%;
  margin: 1% 1.5%;
}

input {
  box-sizing: border-box;
  width: 97%;
  padding: 1% 1%;
  margin: 1% 1.5%;
  border: .2em solid black;
  border-radius: 1%;
  background-color: #E7DFC6; 
}

button{
  display: block;
  box-sizing: border-box;
  width: 90%;
  padding: 1% 1%;
  margin: 1% 5% 5% auto;
  border: .2em solid black;
  border-radius: 1%;
  background-color: #E7DFC6;
}

button:hover {
  cursor: pointer;
  background-color: white;
}

legend { 
  margin-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  border: .2em solid black;
  margin: 1%;
}

.spacer {
  padding: 1%;
}

@media screen and (min-width: 768px) {
  
  #formcontainer {
    text-align: center;
    margin: 5% auto 0 auto;
    width: 75%;
}
  
  input {
    width: 70%
  }
  
  button {
    max-width: 30%;
    display: block;
    margin: 0 26% 3% auto;
    font-size: 90%;	
  }
}

@media screen and (min-width: 1080px) {
  
  #formcontainer {
    text-align: center;
    margin: 5% auto 0 auto;
    width: 50%;
  }
  
  input {
    width: 60%
  }
  
  button {
    width: 30%;
    display: block;
    margin: 2% 28% 2% auto;
    font-size: 90%;
  }
}
